<!DOCTYPE html>
<head>
	<title></title>
	<script src="http://localhost:35729/livereload.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/timeout.css">
</head>
<body>
	<div id="content">
		<h1>This is a template for testing</h1>

		
	</div>

	<div><h2>There is also a <a target="_blank" href="https://wiki.jenkins-ci.org/display/JENKINS/NodeJS+Plugin">Jenkins Plugin</a> to help as integrate this workflow to our built</h2></div>

	<script data-main="js/AppConfig" type="text/javascript" src="../node_modules/requirejs/require.js"></script>
</body>
</html>